
<%- include("header") -%>

<h2>This is the about page</h2>

<p>
    skjdvkjs sdbfsdbf sifns usfbsf fbsbrufw werf fiweuf rubwruff footer
    dkfnh db siufb eiwb wriefb csfbk sbfib fhqeb iiuef sdhjv asjfg
    skdffk sjkdnfu jbfdk sldjfs c dfnknf sefbjkwe  jrhhf ur  re e
    kjbf ehju u uuefhwwpnkc qrubfwqnf
</p>

<%- include("footer") -%>
