<footer>
  <p>&copy; <span id="year"></span> Kenny Hector</p>
  <div class="footer-icons">
    <p>Icons by:</p>
    <ul>
      <li><a href="https://www.flaticon.com/free-icons/delete" title="delete icons">Delete icons by bqlqn</a></li>
      <li><a href="https://www.flaticon.com/free-icons/pencil" title="pencil icons">Pencil icons by Icongeek26</a></li>
      <li><a href="https://www.flaticon.com/free-icons/save" title="save icons">Save icons by Yogi Aprelliyanto</a></li>
    </ul>
  </div>
</footer>

<script>
  document.getElementById("year").textContent = new Date().getFullYear();
</script>
</html>