
<footer>
    <p>&copy; <span id="year"></span> Kenny Hector</p>
    <a href="https://www.flaticon.com/free-icons/delete" title="delete icons">Delete icons created by bqlqn - Flaticon</a>
</footer>

<script>
    document.getElementById("year").textContent = new Date().getFullYear();
  </script>
</html>